@{
    ViewBag.Title = "Inicio Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Mensaje</h2>
<div class="card mt-3">
    <div class="card-body">
        <p><strong>Cuil:</strong> @Session["cuil"]</p>
        <p><strong>Email:</strong> @Session["email"]</p>
        <p><strong>Matrícula:</strong> @Session["matricula"]</p>
        <p><strong>Rol:</strong> @Session["rol"]</p>
    </div>
</div>