<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Clínica Médica Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            @if (Session["rol"] != null && Session["rol"].ToString().StartsWith("Med", StringComparison.OrdinalIgnoreCase))
            {
                @Html.ActionLink("Clínica Médica Web", "Index", "Doctor", null, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Clínica Médica Web", "Index", "Home", null, new { @class = "navbar-brand" })
            }

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["rol"] != null && Session["rol"].ToString().StartsWith("Med", StringComparison.OrdinalIgnoreCase))
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Doctor", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Atención a pacientes en cola", "AtencionAPacienteEnCola", "Doctor", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Registrar atención", "RegistrarAtencion", "Doctor", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cargar pacientes al sistema", "CargarPacientesAlSistema", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cargar pacientes en cola de espera", "CargarPacientesEnColaDeEspera", "Home", null, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("Cerrar Sesión", "Logoff", "Inicio", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer class="d-flex justify-content-between w-100 text-bg-primary fixed-bottom">
            <p class="ms-3">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - @DateTime.Now.Hour:@DateTime.Now.Minute</p>
            <p class="me-3">&copy; Ing. de Software</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>