
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="text-center text-bg-primary"><h1>Clínica Médica Web</h1></div>
    <div class="container mt-3 shadow-lg">
        @if ((bool)ViewBag.Respuesta)
        {
            <div class="alert alert-success">
                <p><b>Listo!</b>&nbsp; Su cuenta fue confirmada. Ahora puede acceder</p>
                <a class="btn btn-success" href="@Url.Action("Login","Inicio")">Ingresar</a>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <p>No se pudo confirmar el correo</p>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/bootstrap")
<footer class="d-flex justify-content-between w-100 text-bg-primary fixed-bottom">
    <p class="ms-3">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - @DateTime.Now.Hour:@DateTime.Now.Minute</p>
    <p class="me-3">&copy; Ing. de Software</p>
</footer>
</body>
</html>