@{
    Layout = null;
}

@model ClinicaMedica2025.Models.UsuarioDTO

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="text-center text-bg-primary"><h1>Clínica Médica Web</h1></div>
    <div class="row d-flex align-items-center min-vh-100 justify-content-center">

        <div class="col-5">

            <div class="card shadow-lg">
                <div class="card-header text-bg-primary"><h3 class="text-center">Registrar cuenta</h3></div>
                <div class="card-body">

                    @if (ViewBag.Creado == null)
                    {
                        <form action="@Url.Action("Registrar","Inicio")" method="post">

                            <div class="mb-3">
                                <label>Cuil</label>
                                <input type="text" class="form-control" name="Cuil" value="" required />
                            </div>
                            
                            <div class="mb-3">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="Nombre" value="" required />
                            </div>

                            <div class="mb-3">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="Apellido" value="" required />
                            </div>

                            <div class="mb-3">
                                <label>Email</label>
                                <input type="email" class="form-control" name="Email" value="" required />
                            </div>

                            <div class="mb-3">
                                <label>Matricula</label>
                                <input type="text" class="form-control" name="MatriculaId" value="" required />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Rol</label>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="Rol" value="Medico"
                                           @(ViewBag.Rol == "Medico" ? "checked" : "") required />
                                    <label class="form-check-label">Médica/o</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="Rol" value="Enfermero"
                                           @(ViewBag.Rol == "Enfermero" ? "checked" : "") required />
                                    <label class="form-check-label">Enfermera/o</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" name="Clave" required />
                            </div>
                            <div class="mb-3">
                                <label>Confirmar Contraseña</label>
                                <input type="password" class="form-control" name="ConfirmarClave" required />
                            </div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Registrarse </button>
                                    <a class="btn btn-link" href="@Url.Action("Login","Inicio")">Ya tienes una cuenta? Inicia sesion</a>
                                </div>
                            </div>


                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>@ViewBag.Mensaje</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Inicio")">Ingresar</a>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <footer class="d-flex justify-content-between w-100 text-bg-primary fixed-bottom">
        <p class="ms-3">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - @DateTime.Now.Hour:@DateTime.Now.Minute</p>
        <p class="me-3">&copy; Ing. de Software</p>
    </footer>
</body>
</html>



