
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restablecer</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="text-center text-bg-primary"><h1>Clínica Médica Web</h1></div>
    <div class="row d-flex align-items-center min-vh-100 justify-content-center">

        <div class="col-5">

            <div class="card shadow-lg">
                <div class="card-header text-bg-primary"><h3 class="text-center">Restablecer cuenta</h3></div>
                <div class="card-body">
                    @if (ViewBag.Restablecido == null)
                    {
                        <form action="@Url.Action("Restablecer","Inicio")" method="post">
                            <p>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>

                            <div class="mb-3">
                                <label>Correo</label>
                                <input type="email" class="form-control" name="correo" value="@(ViewBag.Correo !=null ? ViewBag.Correo : "")" required />
                            </div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Restablecer</button>
                                    <a class="btn btn-link" href="@Url.Action("Login","Inicio")">Volver</a>
                                </div>
                            </div>


                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>Su contraseña fue restablecida, le enviamos un mensaje su correo para restablecer.</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Inicio")">Ingresar</a>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
    @Scripts.Render("~/bundles/bootstrap")
<footer class="d-flex justify-content-between w-100 text-bg-primary fixed-bottom">
    <p class="ms-3">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - @DateTime.Now.Hour:@DateTime.Now.Minute</p>
    <p class="me-3">&copy; Ing. de Software</p>
</footer>
</body>
</html>